%h1 Rock Palace Calendar

= link_to 'Sort Ascending  |  ', '/events'
= link_to 'Sort Descending |  ', '/events?oldest=true'
= link_to 'New Event', new_event_path

%hr

%table
  %thead
    %th Performer
    %th When
    %th Content
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.performer, event
        %td= event.when.strftime("%m/%d/%Y at %I:%M%p")
        %td= event.content

%hr
%div.nav-will-paginate
  %h5 Navigate Events
  %h5= link_to will_paginate @events
%hr

