!!!
%html
  %head
    %title Rock Palace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    
    #wrap
      %nav.navbar.bg-gray
        .container
          %a.navbar-brand{ href: '/' } Rock Palace
        %div.navlinks= render partial: 'layouts/navbar'

      -if flash['status'] == 'success'
        %div.success= flash['notice']

      -if flash['status'] == 'alert'
        %div.alert= flash['notice']
    

      #main.container
        .row
          .col-sm-12
        
        = yield
    %footer.footer.container
      %a.navbar-brand{ href: '/logout' } Log Out
